CONFIG += staticlib c++11 tx1
INSTALL_PREFIX=$$OUT_PWD/../../
INCLUDEPATH += $$INSTALL_PREFIX/usr/local/include
DEFINES += DEBUG INFO LOG LOGV DEBUG_TIMING
LIBS += $$INSTALL_PREFIX/usr/local/lib/liblmm.a
PRE_TARGETDEPS += $$INSTALL_PREFIX/usr/local/lib/liblmm.a
LIBS += $$INSTALL_PREFIX/usr/local/lib/libEncoderCommonLibrary.a
PRE_TARGETDEPS += $$INSTALL_PREFIX/usr/local/lib/libEncoderCommonLibrary.a
LIBS += $$INSTALL_PREFIX/usr/local/lib/libgpu.a

LIBS += -L/home/nvidia/workspace/xDNN/Release -lxDNN
LIBS += -lx264
LIBS += -L$$INSTALL_PREFIX/usr/local/lib/ -lavformat -lswscale -lavcodec -lavutil -lswresample
LIBS += -lgstreamer-1.0 -lgobject-2.0 -lglib-2.0 -lgstbase-1.0 -lgstapp-1.0 -lz -llzma -lva
LIBS += -lyuv
LIBS += -lViaWrapper -lgpu
LIBS += -L/usr/local/cuda/lib -lcudart -lcufft

INCLUDEPATH += /home/nvidia/workspace/xDNN
INCLUDEPATH += /home/nvidia/workspace/
#LIBS += -lanalytics

INCLUDEPATH += /usr/include/opencv
LIBS += -lopencv_core \
    -lopencv_imgproc \
    -lopencv_highgui \
    -lopencv_ml \
    -lopencv_video \
    -lopencv_imgcodecs \
    -lopencv_videoio \
    -lboost_system \
    -lboost_timer \
    -lboost_filesystem

LIBS += -L/usr/local/lib -lprotobuf -lgrpc++
DEFINES += HAVE_VIA_WRAPPER HAVE_LIBYUV
