DEFINES += DEBUG INFO LOG LOGV DEBUG_TIMING

LIBS += -lx264 -lyuv

LIBS += -L/usr/local/lib/ -lavformat -lswscale -lavcodec -lavutil -lswresample
LIBS += $$INSTALL_PREFIX/usr/local/lib/libgpu.a
LIBS += -L/usr/local/cuda/lib -lcudart -lcufft -lcublas
LIBS += -lopencv_core \
    -lopencv_imgproc \
    -lopencv_highgui \
    -lopencv_ml \
    -lopencv_video

DEFINES += HAVE_LIBYUV

INCLUDEPATH += /usr/lib/x86_64-linux-gnu/glib-2.0/include/
CONFIG += smart-grpc ecl lmm



